<div>
  <h4>Component</h4>
  <div class="row">
    <span class="col-sm-2">Component local variable = {{$ctrl.localVariable}}</span>
    <button class="col-sm-1 btn btn-primary" ng-click="$ctrl.increaseLocal()"><span class="glyphicon glyphicon-plus"></span></button>
  </div>
  <div class="row">
    <span class="col-sm-2">Component global variable = {{$root.globalVariable}}</span>
    <button class="col-sm-1 btn btn-primary" ng-click="$ctrl.increaseGlobal()"><span class="glyphicon glyphicon-plus"></span></button>
  </div>

</div>
